.sub-header { display: flex; z-index: 200;}

.home-header { z-index: 200; border-radius: 50px 50px 50px 50px; background-color: #ffffff; position: fixed; top: 20px; left: 50%; transform: translateX(-50%);}
.list-item a { position: relative; padding-bottom: 32px; transition: all 0.5s; color: #070606;}
.overlay { display: none; }

.container-corporate {
    background-image: url('../Assets/blue-white-gradient-abstract-background_53876-60240.avif');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    min-height: calc(100vh - 150px); 
    padding: 20px; 
  }

  .text-center {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
    width: 100%; 
}

.corporate-img {
  background-image: url('../Assets/img-main-768x510.png'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
  min-height: calc(70vh - 150px); 
  margin-left: 10px; 
  border-radius: 10px;
  width: 80%; 
}
  /* .search-img {
    background-image: url('../Assets/bg.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: calc(80vh - 180px); 
    margin-left: 50px; 
    border-radius: 10px;
  } */
  .corporate-video {
    background-image: url('../Assets/66a8eabdab53e8fc57a9fed581166ef5.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    min-height: calc(80vh - 100px); 
    margin-top: 30px;
    padding: 20px; 
    border-radius: 10px;
  }

@media(max-width: 768px) {
    .list-item a { position: relative; padding-bottom: 32px; transition: all 0.5s; color: #ffffff;}
    .sub-header { height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: unset; padding: 0 20px; background-size: cover; background-repeat: no-repeat; z-index: 1000; width: 100%;
        position: fixed; left: 0; right: 0; transition: all 0.5s;}
        .overlay { display: block;
            background-color: rgba(0, 0, 0, 0.66);
            position: fixed;
            right: 0;
            left: 0;
            top: 0; z-index: 100;
            transition: ease 0.5s;
        }
        .list-item .active:after { display: none;}
        .list-item a:hover:after { display: none;}
    }


footer { background: linear-gradient(106.63deg,#123d67 0%,#1d5a93 33.33%,#295EC9 66.67%,#295EC9 100%); padding: 100px;}

@media(max-width: 768px) {
    footer { padding: 80px 20px;}
}